
@use "base" as *;
@use "components" as *;
@use "layouts" as *;
@use "pages" as *;
@use "partials" as *;




// top slide css start 
.top-slider{
    background: $bg-white;
    .top-slider-wrap{
        .slide-img{
            // height: 40rem;
            height: auto;
            object-fit: cover;
            width: 100%;
        }

        .carousel-inner{
            .carousel-item{
                position: relative;
                .carousel-caption {
                    position: absolute;
                    right: 15%;
                    bottom: 50%;
                    transform: translateY(50%);
                    left: 15%;
                    padding-top: 24px;
                    padding-bottom: 24px;
                    text-align: center;

                    .heading, .sub-heading, .text {color: $white;}
        
                }
            }
        }

    }
}


// categories css start 
.categories{
    .row{
        .col{
            .category-card{
                padding: 0 0 24px 0;
                height: 100%;
                transition: .4s;
                &:hover{
                    background: $bg-deep;
                }
                .icon-wrap{
                    height: 170px;
                    .icon{
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        
                    }
                }
            }
        }
    }
}

// boostrap css link 
// @import url(../node_modules/bootstrap/dist/css/bootstrap.css);
// @import url(../node_modules/bootstrap/scss/bootstrap.scss);