
@import url(/node_modules/bootstrap/scss/bootstrap.scss);



$shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
$shadow-sm: rgba(0, 0, 0, 0.16) 0px 1px 4px;
$shadow-md: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

