
@use "../base/" as *;
@use "../partials/" as *;


.about-us{
    .about-us-nav{
        border: 1px solid $primary;
        padding: 16px;
        border-radius: 4px;
        .nav{
            margin-top: 24px;
            .nav-item{
                .nav-link{
                    color: $dark;
                    transition: .4s;
                    font-size: 14px;

                    &:hover{
                        text-decoration: underline;
                        color: $primary;
                    }
                }
            }
        }
    }

    .md_photo{
        width: 100%;
        height: fit-content;
        object-fit: contain;
    }

    // client-card 
    .client-card{
        height: 100%;
        box-shadow: $shadow;
        &:hover{
            box-shadow: none;
        }
        .card-img-top{
            width: 120px;
            height: 120px;
            object-fit: cover;
        }

        .card-title{
            transition: .4s;
            &:hover{
                text-decoration: underline;
            }
        }


    }
}