@use "../base/" as *;
@use "../partials/" as *;


// image gallery css start
.career-top{
    background-image: url("/assets/img/career.jpg");

    height: 424px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .career-wrap{
        max-width: 40%;
        height: 100%;
        .search-form-wrap{
            width: 100%;
        }
    }
}


.career{
    .career-card{
        .title{
            font-size: 24px;
        }

        .text-link{font-size: 14px;}
    }
}


.career-details{
    background: $bg-light;
    .section-heading{margin-bottom: 40px;}
    .job-info{
        .card-title{
            margin-bottom: 16px;
            font-weight: 400;
            .job-heading{
                font-weight: 600;
            }
        }
    }

    .apply-form{
        form{
            border: 1px solid $primary;
            background: $white;
            border-radius: 4px;
            padding: 24px;
        }
    }
}


@media (max-width: 1200px) {
    .career-top{
    
        height: 324px;
    }
}
@media (max-width: 992px) {
    .career-top{
    
        height: 224px;
    }

    .career{
        .career-card{
            .title{
                font-size: 18px;
            }
    
            .text-link{font-size: 12px;}
        }
    }
    
}

@media (max-width: 576px) {
    .career-top{
    
        height: 180px;
    }

    .career{
        .career-card{
            .title{
                font-size: 16px;
                margin-bottom: 8px !important;
            }
    
            // .text-link{font-size: 12px;}
        }
    }
    
}