@use "../base/" as *;
@use "../partials/" as *;


// image gallery css start
.img-gallery-top{
    background-image: url("/assets/img/gallery.jpg");

    height: 424px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .gallery-wrap{
        max-width: 40%;
        height: 100%;
        .search-form-wrap{
            width: 100%;
        }
    }
}

// img-gallery
.img-gallery{
    .gallery-card{
        height: 100%;
        box-shadow: $shadow;
        &:hover{
            box-shadow: none;
        }
        .card-img-top{
            width: 100%;
            height: 236px;
            object-fit: cover;
        }

        .card-title{
            transition: .4s;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}




// news css start
.news{
    .new-news{
        .news-card{
            margin-bottom: 24px;
            height: 250px;
            transition: .4s;
            &:hover{
                background: $light;
            }
    
            .news-img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .read-more{
                transition: .4s;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    
    }

    .recent-news{
        .news-card{
            margin-bottom: 16px;
            height: 90px;
            transition: .4s;
            // overflow: hidden;
            &:hover{
                background: $light;
            }
    
            .news-img{
                width: 100%;
                height: 100% ;
                object-fit: cover;
            }
            .read-more{
                transition: .4s;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    
    }
}


@media (max-width: 1200px) {
    .img-gallery-top{
    
        height: 324px;
        // width: 100%;
        // background-repeat: no-repeat;
        // background-size: cover;
        // background-position: center;
    
        // .gallery-wrap{
        //     max-width: 40%;
        //     height: 100%;
        //     .search-form-wrap{
        //         width: 100%;
        //     }
        // }
    }



    // img-gallery
    .img-gallery{
        .gallery-card{
            // height: 100%;
            // box-shadow: $shadow;
            // &:hover{
            //     box-shadow: none;
            // }
            .card-img-top{
                // width: 100%;
                height: 200px;
                // object-fit: cover;
            }

            // .card-title{
            //     transition: .4s;
            //     &:hover{
            //         text-decoration: underline;
            //     }
            // }
        }
    }


    // news css start
    .news{
        .new-news{
            .news-card{
                // margin-bottom: 24px;
                height: 170px;
                transition: .4s;
                &:hover{
                    background: $light;
                }
        
                .news-img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                .read-more{
                    transition: .4s;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        
        }

        .recent-news{
            .news-card{
                margin-bottom: 16px;
                height: 90px;
                transition: .4s;
                // overflow: hidden;
                &:hover{
                    background: $light;
                }
        
                .news-img{
                    width: 100%;
                    height: 100% ;
                    object-fit: cover;
                }
                .read-more{
                    transition: .4s;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        
        }
    }



    
}



@media (max-width: 768px) {
    .img-gallery-top{
    
        height: 200px;
        // width: 100%;
        // background-repeat: no-repeat;
        // background-size: cover;
        // background-position: center;
    
        // .gallery-wrap{
        //     max-width: 40%;
        //     height: 100%;
        //     .search-form-wrap{
        //         width: 100%;
        //     }
        // }
    }



    // img-gallery
    .img-gallery{
        .gallery-card{
            // height: 100%;
            // box-shadow: $shadow;
            // &:hover{
            //     box-shadow: none;
            // }
            .card-img-top{
                // width: 100%;
                height: 120px;
                // object-fit: cover;
            }

            // .card-title{
            //     transition: .4s;
            //     &:hover{
            //         text-decoration: underline;
            //     }
            // }
        }
    }


    // news css start
    .news{
        .new-news{
            .news-card{
                margin-bottom: 24px;
                height: 250px;
                transition: .4s;
                &:hover{
                    background: $light;
                }
        
                .news-img{
                    width: 100%;
                    height: 100px;
                    object-fit: cover;
                }
                .read-more{
                    transition: .4s;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        
        }

        .recent-news{
            .news-card{
                margin-bottom: 16px;
                height: 90px;
                transition: .4s;
                // overflow: hidden;
                &:hover{
                    background: $light;
                }
        
                .news-img{
                    width: 100%;
                    height: 60px ;
                    object-fit: cover;
                }
                .read-more{
                    transition: .4s;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        
        }
    }

    
}

@media (max-width:992px) {
    // news css start
    .news{
        .new-news{
            .news-card{
                margin-bottom: 24px;
                height: 250px;
                transition: .4s;
                &:hover{
                    background: $light;
                }
        
                .news-img{
                    width: 100%;
                    height: 200px;
                    object-fit: cover;
                }
                .read-more{
                    transition: .4s;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        
        }

        .recent-news{
            .news-card{
                margin-bottom: 16px;
                height: 90px;
                transition: .4s;
                // overflow: hidden;
                &:hover{
                    background: $light;
                }
        
                .news-img{
                    width: 100%;
                    height: 60px ;
                    object-fit: cover;
                }
                .read-more{
                    transition: .4s;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        
        }
    }
}